PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/student_platform
JWT_SECRET=super-secret-jwt-key
JWT_EXPIRES_IN=7d
ADMIN_TOKEN=admin-secret-token
ADMIN_EMAIL=admin@studentai.local
ADMIN_PASSWORD=admin12345
GROQ_API_KEY=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
GROQ_MODEL=llama-3.1-8b-instant
NEXT_PUBLIC_API_BASE_URL=http://localhost:5000

